
/* everywhere else */

html{
    
    background: black;
}
body{
    width: 90%;
    margin: 0 auto;
    background: white;
}
header{
    height: 50px;
    margin-bottom: 1em;
}

header img{
    position: absolute;
    top: 0;
    right: 0;
}

}
header h1{
    margin-left: auto;
    margin-right: auto;
    width: 6em
    
}

