
html{
    
    background: black;
    background-image: url(/app/images/stars.jpeg);
}
body{
    width: 90%;
    margin: 0 auto;
    background: white;
    background-image: url(/app/images/abstract.png);
    background-size: 150px;
  
}
header{
    height: 50px;
    margin-bottom: 4em;
    

}

header img{
    width: 320px;
    height: 80px;
    display: block;
    margin: 0 auto;
    
}


 

